body {
  font-family: Arial, sans-serif;
  background: #7e00cd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(0, 0, 0);
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

input,
select {
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #bbb;
  font-size: 14px;
}

.arrow {
  font-size: 20px;
}

#btnConvertir {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
  transition: background 0.2s;
}

#btnConvertir:hover {
  background: #0056c7;
}

.resultado {
  background: #e9e9e9;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
